<style>
  #error {
    color: rgb(145, 9, 9);
  }

  #gregory {
    animation: spinny 3s linear infinite;
    display: none;
  }

  @keyframes spinny {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<h1>Image palettizer</h1>

<script>
  function clearError() {
    document.getElementById("error").innerText = "";
  }
  function showError(err) {
    console.log("oopsie poopsie", err);
    document.getElementById("error").innerText = "error! " + err;
  }

  function showGregory() {
    document.getElementById("gregory").style.display = "inline";
  }
  function hideGregory() {
    document.getElementById("gregory").style.display = "none";
  }

  function palettize() {
    clearError();

    let image = document.getElementById("image");
    let palette = document.getElementById("palette");
    let imagePreview = document.getElementById("imagePreview");
    let palettePreview = document.getElementById("palettePreview");

    if (image.value != "") {
      let reader = new FileReader();
      reader.onload = function (event) {
        imagePreview.src = event.target.result;
      }
      reader.readAsDataURL(image.files[0]);
    }

    if (palette.value != "") {
      let reader = new FileReader();
      reader.onload = function (event) {
        palettePreview.src = event.target.result;
      }
      reader.readAsDataURL(palette.files[0]);
    }

    if (palette.value != "" && image.value != "") {
      let formData = new FormData();
      formData.append("image", image.files[0]);
      formData.append("palette", palette.files[0]);

      showGregory();
      fetch("{{ palettize }}", {
        method: "POST",
        body: formData,
      }).then(result => {
        console.log("result", result);
        if (!result.ok) {
          result.text().then(showError);
        }
        result.blob().then(blob => {
          let objectUrl = URL.createObjectURL(blob);
          document.getElementById("result").src = objectUrl;
        });
      }).catch(showError).finally(hideGregory);
    }
  }
</script>

<p>8 MB max upload</p>

<label for="palette">Choose a palette:</label>
<input id="palette" type="file" name="palette" onchange="palettize()">
<img id="palettePreview" width="50"></img>
<br>

<label for="image">Choose an image:</label>
<input id="image" type="file" name="image" onchange="palettize()">
<img id="imagePreview" width="50"></img>
<br>

<p id="error"></p>

<button onclick="palettize()">Retry</button>
<svg id="gregory" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_P7sC{transform-origin:center;animation:spinner_svv2 .75s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}</style><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_P7sC"/></svg>

<br>
<br>
<img id="result">